#strings
SALAI_TOKEN="Token of the Account from which you paid MidJourney"
SERVER_ID="Server id here"
CHANNEL_ID="Channel in which commands are sent"
NEXT_PUBLIC_IMAGE_PREFIX="/"
HUGGINGFACE_TOKEN="huggingface token here https://huggingface.co/docs/hub/security-tokens" 
WS=true
PUPPETEER_CHROME_BIN="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
NEXT_PUBLIC_AUTH_PROVIDER=code
NEXT_PUBLIC_AUTH_CODE=123456
NEXT_PUBLIC_AUTH_NAME=Eric